<div class="spinner-border" style="width: @(RemSize)rem; height: @(RemSize)rem;" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

@code {

    [Parameter]
    public int RemSize { get; set; } = 3;

}