@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="container">
    <div class="row">
        @* Аватарка *@
        <div class="container col-4 row row-cols-1 align-content-center">
            <div class="container col px-2">
                @{
                    var avUid = UserState.Value.AvatarUid;
                    if (avUid is not null && avUid != Guid.Empty) {
                        <img
                            width="150"
                            src=@(ApiUrlBuilder.GetMediaFileUrl((Guid)avUid))/>
                    }
                    else {
                        <img
                            width="150"
                            src="resources/default_avatar.jpg"/>
                    }
                }
            </div>
            
            @* Кнопки смены аватарки *@
            <div class="container px-2">
                <ChangeAvatarComponent/>
            </div>
        </div>

        @* Форма профиля *@
        <div class="container col-8">
            <EditForm
                Model="_vmUpdateProfile"
                OnValidSubmit="@UpdateProfile">
                <DataAnnotationsValidator/>

                <p>
                    <label>
                        First name:
                        <InputText
                            id="firstName"
                            @bind-Value="                        _vmUpdateProfile.FirstName"
                            DisplayName="First name"/>
                    </label>
                    <ValidationMessage For="() => _vmUpdateProfile.FirstName"/>
                </p>

                <p>
                    <label>
                        Second namess:
                        <InputText
                            id="secondName"
                            @bind-Value="                        _vmUpdateProfile.SecondName"
                            DisplayName="Second name"/>
                    </label>
                    <ValidationMessage For="() => _vmUpdateProfile.SecondName"/>
                </p>

            </EditForm>
        </div>
    </div>
</div>