@using AniMedia.WebClient.UIWeb.AdminPanel.Shared
@attribute [Route(PageUrlConstants.ManageAnimeSeriesPageUrl)]
@attribute [Authorize]
@layout AdminUILayout

<h3>ManageAnimeSeriesPage</h3>
<p>Coming soon...</p>
