@attribute [Route(PageUrlConstants.RegisterPageUrl)]

<h3>Register</h3>

<EditForm Model="@_vmodel" OnValidSubmit="@RegisterUser">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <p>
        <label>
            Nickname:
            <InputText
                id="Nickname"
                @bind-Value="_vmodel.Nickname"
                DisplayName="Nickname"/>
        </label>
    </p>
    <p>
        <label>
            Password:
            <InputText
                id="Password"
                type="password"
                @bind-Value="_vmodel.Password"
                DisplayName="Password"/>
        </label>
    </p>
    <p>
        <label>
            Confirm password:
            <InputText
                id="ConfirmPassword"
                type="password"
                @bind-Value="_vmodel.ConfirmPassword"
                DisplayName="Confirm password"/>
        </label>
    </p>

    <button type="submit">Submit</button>
</EditForm>