@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Inject]
    public IJSRuntime JSRuntime { get; set; } = default!;

    [Inject]
    public ProtectedSessionStorage SessionStorage { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender) {
            var res = await SessionStorage.GetAsync<int>("count");

            if (res.Success) {
                currentCount = res.Value;
                StateHasChanged();
            }
        }
    }

    private async Task IncrementCount(MouseEventArgs mouseEventArgs) {
        int increment = 1;

        if (mouseEventArgs.ShiftKey) {
            increment = 10;
        }

        currentCount += increment;

        await SessionStorage.SetAsync("count", currentCount);
    }
}
