<AuthorizeView>
    <Authorized>
        <BarItem>
            <Button Color="Color.Info" Type="ButtonType.Link" To="@PageUrlConstants.ProfilePageUrl">@context.User.Identity?.Name</Button>
            <Button Color="Color.Danger" Outline Clicked="LogOut">Log out</Button>
        </BarItem>
    </Authorized>
    <NotAuthorized>
        <BarItem>
            <Button Color="Color.Primary" Type="ButtonType.Link" To="@PageUrlConstants.RegisterPageUrl">Sign up</Button>
            <Button Color="Color.Secondary" Type="ButtonType.Link" To="@PageUrlConstants.LoginPageUrl">Log in</Button>
        </BarItem>
    </NotAuthorized>
</AuthorizeView>
