@using AniMedia.WebClient.UIWeb.UserPanel.Pages.AccountPages.Components
@using AniMedia.WebClient.UIWeb.UserPanel.Shared
@layout UserUILayout
@attribute [Route(PageUrlConstants.ProfilePageUrl)]

<h3>ProfilePage</h3>

<div class="container-md">
    <EditProfileComponent/>
    <hr/>
    <SessionsComponent/>
</div>